.about-layer {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  @media (max-width: 1100px) {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-wrapper {
  position: relative;
  text-align: right;
  padding: 10vh 5vh;
  height: 100%;
  @media (max-width: 1100px) {
    width: 100vw;
    padding: 5vh;
    flex: 1 0 100%;
    text-align: left;
    scroll-snap-align: start;
  }
  &--right {
    text-align: left;
    .card {
      @media (min-width: 1100px) {
        height: 400px;
        &__content {
          left: -150px;
          align-items: flex-start;
        }
      }
    }
  }
}

.card {
  position: relative;
  height: 600px;
  img {
    position: relative;
    height: 100%;
    border-radius: 10px;
    z-index: -2;
    @media (max-width: 560px) {
      max-height: 60vh;
      width: 100%;
      opacity: 0.6;
      object-fit: cover;
    }
  }
  &__video-wrapper {
    width: 300px;
    height: 351px;
    overflow: hidden;
    border-radius: 10px;
    video {
      transform: scaleX(-1);
    }
  }
  &__content {
    position: absolute;
    right: -100px;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-top: -15vh;
      margin-left: 2vh;
    }
    @media (max-width: 320px) {
      margin-top: -25vh;
    }
    .big-title {
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    p.description {
      width: 100%;
      max-width: 340px;
    }
  }
}

.reveal-image {
  font-weight: 800;
  &:hover {
    color: $primary-color !important;
    opacity: 1;
  }
  @media (max-width: 1100px) {
    pointer-events: none;
  }
}
