.home-layer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 5vh;
}

.entry-content {
  color: #fff;
  max-width: 760px;
  .title {
    font-weight: 800;
    letter-spacing: -0.025em;
    font-size: 4rem;
    line-height: 1;
    span {
      -webkit-text-stroke: 2px $primary-color;
      text-stroke: 2px $primary-color;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: $primary-color;
    }
  }
  .undertitle {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #e5e7eb;
  }
}

.main-scene {
  position: absolute;
  right: 0;
  top: 0;
  width: 950px;
  height: 100%;
}

.cube {
  animation: cube-spin 30s 0s ease-in-out infinite alternate;
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  will-change: transform;
}

.main-cube {
  position: absolute;
  top: 45%;
  left: 60%;
  height: 200px;
  width: 200px;
  transform: translate(-60%, -45%);
  .wrap {
    position: relative;
    perspective: 0px;
    perspective-origin: 50% 100px;
    transform-style: preserve-3d;
    top: 0px;
  }
  &:hover {
    .spaceship {
      animation: spaceship-path 10s 1s ease-in-out;
    }
  }
}

.cube {
  .main-front,
  .main-top,
  .main-right,
  .main-bottom,
  .main-left,
  .main-back {
    transition: 400ms;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.10'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: 5px solid $cube-border;
    background-color: transparent;
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #fff,
      inset 0 0 16px #fff;
  }
}

// main cube
.cube {
  .main-back {
    transform: translateZ(-100px) rotateY(180deg);
  }

  .main-right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }

  .main-left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }

  .main-top {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top center;
  }

  .main-bottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;
  }

  .main-front {
    transform: translateZ(100px);
  }
}

// storage cube
.cube {
  .storage-front,
  .storage-top,
  .storage-right,
  .storage-bottom,
  .storage-left,
  .storage-back {
    position: absolute;
    top: 50px;
    left: 25px;
    width: 100px;
    height: 100px;
    border: 1px solid $cube-inside-border;
    animation: border-glow 1s ease-in-out infinite alternate;
    background-color: $cube-inside;
  }

  .storage-back {
    transform: translateZ(-50px) rotateY(180deg);
  }

  .storage-right {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
  }

  .storage-left {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
  }

  .storage-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
  }

  .storage-bottom {
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom center;
  }

  .storage-front {
    transform: translateZ(50px);
  }
}

// aircraft cube
.cube {
  .aircraft-front,
  .aircraft-top,
  .aircraft-right,
  .aircraft-bottom,
  .aircraft-left,
  .aircraft-back {
    position: absolute;
    top: 150px;
    left: 75px;
    width: 100px;
    height: 25px;
    border: 1px solid $cube-inside-border;
    animation: border-glow 1s ease-in-out infinite alternate;
    background-color: $cube-inside;
  }

  .aircraft-back {
    transform: translateZ(-50px) rotateY(180deg);
  }

  .aircraft-right {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
  }

  .aircraft-left {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
  }

  .aircraft-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    height: 100px;
  }

  .aircraft-bottom {
    transform: rotateX(-90deg) translateY(50px) translateZ(-75px);
    height: 100px;
    transform-origin: bottom center;
  }

  .aircraft-front {
    transform: translateZ(50px);
  }
}

// top letter
.cube {
  .top-letter-front,
  .top-letter-top,
  .top-letter-right,
  .top-letter-bottom,
  .top-letter-left,
  .top-letter-back {
    position: absolute;
    top: 60px;
    left: 35px;
    width: 60px;
    height: 15px;
    border: 2px solid #444;
    background-color: $cube-inside;
    border: 1px solid $cube-inside-border;
    animation: letter-glow 2s ease-in-out infinite alternate;
  }

  .top-letter-back {
    transform: translateZ(-40px) rotateY(180deg);
  }

  .top-letter-right {
    transform: rotateY(-270deg) translateX(0px);
    transform-origin: top right;
  }

  .top-letter-left {
    transform: rotateY(270deg) translateX(0px);
    transform-origin: center left;
  }

  .top-letter-top {
    transform: rotateX(-90deg) translateY(-60px);
    transform-origin: top center;
    height: 100px;
  }

  .top-letter-bottom {
    transform: rotateX(-90deg) translateY(40px) translatex(0px)
      translateZ(-85px);
    height: 100px;
    transform-origin: bottom center;
  }

  .top-letter-front {
    transform: translateZ(60px);
  }
}

// bottom letter
.cube {
  .bottom-letter-front,
  .bottom-letter-top,
  .bottom-letter-right,
  .bottom-letter-bottom,
  .bottom-letter-left,
  .bottom-letter-back {
    position: absolute;
    top: 120px;
    left: 35px;
    width: 60px;
    height: 15px;
    border: 2px solid #444;
    background-color: $cube-inside;
    border: 1px solid $cube-inside-border;
    animation: letter-glow 2s ease-in-out infinite alternate;
  }

  .bottom-letter-back {
    transform: translateZ(-40px) rotateY(180deg);
  }

  .bottom-letter-right {
    transform: rotateY(-270deg) translateX(0px);
    transform-origin: top right;
  }

  .bottom-letter-left {
    transform: rotateY(270deg) translateX(0px);
    transform-origin: center left;
  }

  .bottom-letter-top {
    transform: rotateX(-90deg) translateY(-60px);
    transform-origin: top center;
    height: 100px;
  }

  .bottom-letter-bottom {
    transform: rotateX(-90deg) translateY(40px) translatex(0px)
      translateZ(-85px);
    height: 100px;
    transform-origin: bottom center;
  }

  .bottom-letter-front {
    transform: translateZ(60px);
  }
}

// left letter
.cube {
  .left-letter-front,
  .left-letter-top,
  .left-letter-right,
  .left-letter-bottom,
  .left-letter-left,
  .left-letter-back {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 15px;
    height: 35px;
    border: 2px solid #444;
    background-color: $cube-inside;
    border: 1px solid $cube-inside-border;
    animation: letter-glow 2s ease-in-out infinite alternate;
  }

  .left-letter-back {
    transform: translateZ(-40px) rotateY(180deg);
  }

  .left-letter-right {
    transform: rotateY(-270deg) translateX(-45px);
    transform-origin: top right;
  }

  .left-letter-left {
    transform: rotateY(270deg) translateX(45px);
    transform-origin: center left;
  }

  .left-letter-top {
    transform: rotateX(-90deg) translateY(-60px);
    transform-origin: top center;
    height: 100px;
  }

  .left-letter-bottom {
    transform: rotateX(-90deg) translateY(40px) translatex(0px)
      translateZ(-65px);
    height: 100px;
    transform-origin: bottom center;
  }

  .left-letter-front {
    transform: translateZ(60px);
  }
}

// right letter
.cube {
  .right-letter-front,
  .right-letter-top,
  .right-letter-right,
  .right-letter-bottom,
  .right-letter-left,
  .right-letter-back {
    position: absolute;
    top: 65px;
    left: 100px;
    width: 15px;
    height: 65px;
    border: 2px solid #444;
    background-color: $cube-inside;
    border: 1px solid $cube-inside-border;
    animation: letter-glow 2s ease-in-out infinite alternate;
  }

  .right-letter-back {
    transform: translateZ(-40px) rotateY(180deg);
  }

  .right-letter-right {
    transform: rotateY(-270deg) translateX(-45px);
    transform-origin: top right;
  }

  .right-letter-left {
    transform: rotateY(270deg) translateX(45px);
    transform-origin: center left;
  }

  .right-letter-top {
    transform: rotateX(-90deg) translateY(-60px);
    transform-origin: top center;
    height: 100px;
  }

  .right-letter-bottom {
    transform: rotateX(-90deg) translateY(40px) translatex(0px)
      translateZ(-65px);
    height: 100px;
    transform-origin: bottom center;
  }

  .right-letter-front {
    transform: translateZ(60px);
  }
}

// engine
.cube {
  .engine-top,
  .engine-right,
  .engine-bottom,
  .engine-left,
  .engine-back {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 45px;
    height: 65px;
    background-color: $cube-inside;
    border: 1px solid $cube-inside-border;
    animation: border-glow 1s ease-in-out infinite alternate;
  }

  .engine-back {
    transform: translateZ(-60px) rotateY(180deg);
  }

  .engine-right {
    transform: rotateY(-270deg) translateX(60px) translateZ(35px);
    width: 10px;
    transform-origin: top right;
  }

  .engine-left {
    transform: rotateY(270deg) translateX(-60px);
    width: 10px;
    transform-origin: center left;
  }

  .engine-top {
    transform: rotateX(-90deg) translateY(50px);
    transform-origin: top center;
    height: 10px;
  }

  .engine-bottom {
    transform: rotateX(-90deg) translateY(60px) translatex(0px) translateZ(55px);
    height: 10px;
    transform-origin: bottom center;
  }
}

// control cube
.cube {
  .control-front,
  .control-top,
  .control-right,
  .control-bottom,
  .control-left,
  .control-back {
    position: absolute;
    top: 60px;
    left: 70px;
    width: 80px;
    height: 30px;
    border: 1px solid $cube-inside-border;
    animation: border-glow 1s ease-in-out infinite alternate;
    background-color: $cube-inside;
  }

  .control-back {
    transform: translateZ(-40px) rotateY(180deg);
  }

  .control-right {
    transform: rotateY(-270deg) translateX(40px);
    transform-origin: top right;
  }

  .control-left {
    transform: rotateY(270deg) translateX(-40px);
    transform-origin: center left;
  }

  .control-top {
    transform: rotateX(-90deg) translateY(-40px);
    transform-origin: top center;
    height: 80px;
  }

  .control-bottom {
    transform: rotateX(-90deg) translateY(40px) translateZ(-50px);
    height: 80px;
    transform-origin: bottom center;
  }

  .control-front {
    transform: translateZ(40px);
  }
}

// spaceship
.spaceship {
  position: absolute;
  width: 50px;
  top: 15px;
  left: 70px;
  transform-style: preserve-3d;
  will-change: transform;
  .body-front,
  .body-top,
  .body-right,
  .body-bottom,
  .body-left,
  .body-back {
    position: absolute;
    top: 120px;
    left: 75px;
    width: 15px;
    height: 10px;
    border: 1px solid $cube-inside-border;
    background-color: $cube-inside;
  }

  .body-back {
    transform: translateZ(-10px) rotateY(180deg);
  }

  .body-right {
    transform: rotateY(-270deg) translateX(10px) translateZ(-45px);
    transform-origin: top right;
    width: 60px;
  }

  .body-left {
    transform: rotateY(-270deg) translateX(-50px);
    transform-origin: center left;
    width: 60px;
  }

  .body-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    height: 60px;
  }

  .body-bottom {
    transform: rotateX(-90deg) translateY(10px) translateZ(-50px);
    height: 60px;
    transform-origin: bottom center;
  }

  .body-front {
    transform: translateZ(50px);
  }
}

.spaceship .right-wing {
  position: absolute;
  width: 50px;
  top: -2px;
  left: 0px;
  transform-style: preserve-3d;
  will-change: transform;
  transform: rotateY(40deg) scalex(-1) translateX(-88px);
  .wing-front,
  .wing-top,
  .wing-right,
  .wing-bottom,
  .wing-left,
  .wing-back {
    position: absolute;
    top: 125px;
    left: 75px;
    width: 10px;
    height: 5px;
    border: 1px solid $cube-inside-border;
    background-color: $cube-inside;
  }

  .wing-back {
    transform: translateZ(20px) rotateY(180deg);
  }

  .wing-right {
    transform: rotateY(-270deg) translateX(-20px) translateZ(-20px);
    transform-origin: top right;
    width: 30px;
  }

  .wing-left {
    transform: rotateY(-270deg) translateX(-50px);
    transform-origin: center left;
    width: 30px;
  }

  .wing-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    height: 30px;
  }

  .wing-bottom {
    transform: rotateX(-90deg) translateY(-20px) translateZ(-25px);
    height: 30px;
    transform-origin: bottom center;
  }

  .wing-front {
    transform: translateZ(50px);
  }
}

.spaceship .left-wing {
  position: absolute;
  width: 50px;
  top: -2px;
  left: 0;
  transform-style: preserve-3d;
  will-change: transform;
  transform: rotateY(-40deg) translateZ(-75px);
  .wing-front,
  .wing-top,
  .wing-right,
  .wing-bottom,
  .wing-left,
  .wing-back {
    position: absolute;
    top: 125px;
    left: 75px;
    width: 10px;
    height: 5px;
    border: 1px solid $cube-inside-border;
    background-color: $cube-inside;
  }

  .wing-back {
    transform: translateZ(20px) rotateY(180deg);
  }

  .wing-right {
    transform: rotateY(-270deg) translateX(-20px) translateZ(-20px);
    transform-origin: top right;
    width: 30px;
  }

  .wing-left {
    transform: rotateY(-270deg) translateX(-50px);
    transform-origin: center left;
    width: 30px;
  }

  .wing-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    height: 30px;
  }

  .wing-bottom {
    transform: rotateX(-90deg) translateY(-20px) translateZ(-25px);
    height: 30px;
    transform-origin: bottom center;
  }

  .wing-front {
    transform: translateZ(50px);
  }
}

.spaceship .fin {
  position: absolute;
  width: 50px;
  top: 1px;
  left: 1.5px;
  transform-style: preserve-3d;
  will-change: transform;
  transform: translateZ(-35px);
  .fin-front,
  .fin-top,
  .fin-right,
  .fin-bottom,
  .fin-left,
  .fin-back {
    position: absolute;
    top: 115px;
    left: 76px;
    width: 10px;
    height: 5px;
    border: 1px solid $cube-inside-border;
    background-color: $cube-inside;
  }

  .fin-back {
    transform: translateZ(20px) rotateY(180deg);
  }

  .fin-right {
    transform: rotateY(-270deg) translateX(-20px) translateZ(-20px);
    transform-origin: top right;
    width: 30px;
  }

  .fin-left {
    transform: rotateY(-270deg) translateX(-50px);
    transform-origin: center left;
    width: 30px;
  }

  .fin-top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    height: 30px;
  }

  .fin-bottom {
    transform: rotateX(-90deg) translateY(-20px) translateZ(-25px);
    height: 30px;
    transform-origin: bottom center;
  }

  .fin-front {
    transform: translateZ(50px);
  }
}

@keyframes cube-spin {
  0% {
    transform: rotateY(35deg) rotateX(-24deg);
  }
  100% {
    transform: rotateY(-70deg) rotateX(5deg);
  }
}

@keyframes movin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}

@keyframes border-glow {
  from {
    border-color: $cube-inside-border;
  }
  to {
    border-color: #fff;
  }
}

@keyframes letter-glow {
  from {
    border-color: $cube-inside-border;
  }
  to {
    border-color: $cube-d-letter-border;
  }
}

@keyframes spaceship-path {
  0% {
    transform: translateZ(0px);
  }
  10% {
    transform: translateY(-10px) translateZ(0px);
  }
  30% {
    transform: translateZ(1200px) rotateX(30deg) rotateZ(-40deg);
  }
  31% {
    transform: scale(0) translateZ(1200px);
  }
  69% {
    transform: scale(0) translateZ(-1200px) rotate(40deg);
  }
  70% {
    transform: translateZ(-1200px) rotate(40deg);
  }
  90% {
    transform: translateY(-10px) translateZ(0px);
  }
  100% {
    transform: translateZ(0px) translateY(0px);
  }
}
