.project-layer {
  display: flex;
  padding: 10vh 5vh;
  height: 100%;
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100%;
  &:nth-child(2n) {
    .project-card {
      align-items: flex-end;
    }
  }
}

.project-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 340px;
  height: 100%;
  outline: none;
  &__content {
    position: relative;
    max-width: 300px;
    outline: none;
    text-decoration: none;
    img {
      max-height: 80vh;
      border-radius: 10px;
    }
    .title {
      position: absolute;
      bottom: 2rem;
      left: 1.5rem;
      transform: rotate(-90deg);
      transform-origin: bottom left;
      font-weight: 800;
      letter-spacing: -0.025em;
      font-size: 3rem;
      line-height: 1;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 0.5rem;
      color: #fff;
      width: 90vh;
    }
    .number {
      position: absolute;
      top: 20px;
      right: 20px;
      font-weight: 800;
      font-size: 4rem;
      -webkit-text-stroke: 2px #644ed1;
      text-stroke: 2px #644ed1;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: #644ed1;
    }
  }
  &__link {
    position: absolute;
    bottom: -0.6rem;
    right: 0;
    margin: 0;
    padding: 0.6rem 1.6rem;
    border: none;
    font-weight: 800;
    letter-spacing: -0.025em;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    border-bottom-right-radius: 10px;
    color: #000;
    background: #fff;
    display: none;
  }
  &:hover {
    .project-card__link {
      display: block;
    }
  }
}

/* Glitch styles */
.glitch {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.glitch__img {
  position: absolute;
  top: -100px;
  left: -50px;
  width: calc(100% + 50px * 2);
  height: calc(100% + 100px * 2);
  background: url("https://assets.codepen.io/2287220/codepenImage.png")
    no-repeat 50% 0;
  background-color: $blend-color-1;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  background-blend-mode: $blend-mode-1;
}

.glitch__img {
  opacity: 0;
  &:nth-child(2) {
    background-color: $blend-color-2;
    background-blend-mode: $blend-mode-2;
  }

  &:nth-child(3) {
    background-color: $blend-color-3;
    background-blend-mode: $blend-mode-3;
  }

  &:nth-child(4) {
    background-color: $blend-color-4;
    background-blend-mode: $blend-mode-4;
  }

  &:nth-child(5) {
    background-color: $blend-color-5;
    background-blend-mode: $blend-mode-5;
  }
}

.project-card--animated .glitch__img {
  opacity: 1;
  animation-duration: $time-anim;
  animation-delay: $delay-anim;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:nth-child(2) {
    transform: translate3d(50, 0, 0);
    animation-name: glitch-anim-1-horizontal;
  }

  &:nth-child(3) {
    transform: translate3d(calc(-1 * 50), 0, 0);
    animation-name: glitch-anim-2-horizontal;
  }

  &:nth-child(4) {
    transform: translate3d(0, calc(-1 * 100), 0) scale3d(-1, -1, 1);
    animation-name: glitch-anim-3-horizontal;
  }

  &:nth-child(5) {
    animation: glitch-anim-flash 0.9s steps(1, end) infinite;
  }
}
