.scene {
  position: relative;
  perspective: 800px;
  perspective-origin: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: 400ms;
    transition-timing-function: ease-in;
    &.previous {
      transform: translateZ(100vh);
      display: flex;
      opacity: 0;
      pointer-events: none;
    }
    &.active {
      transform: translateZ(0vh);
      display: flex;
      opacity: 1;
    }
    &.next {
      transform: translateZ(-100vh);
      display: flex;
      opacity: 0;
      pointer-events: none;
    }
  }
}
