$primary-color: #644ed1;

$cube-background: #313149;
$cube-border: #313149;
$cube-inside: #101d2e;
$cube-inside-border: rgba(255, 255, 255, 0.8);
$cube-d-letter-border: $primary-color;

$gap-horizontal: 40px;
$time-anim: 4s;
$delay-anim: 0s;
$blend-mode-1: none;
$blend-mode-2: luminosity;
$blend-mode-3: none;
$blend-mode-4: none;
$blend-mode-5: overlay;
$blend-color-1: transparent;
$blend-color-2: #436161;
$blend-color-3: transparent;
$blend-color-4: transparent;
$blend-color-5: #af4949;
