$primary-color: #644ed1;

$cube-background: #313149;
$cube-border: #313149;
$cube-inside: #101d2e;
$cube-inside-border: rgba(255, 255, 255, 0.8);
$cube-d-letter-border: $primary-color;

$time-anim: 4s;
$delay-anim: 0s;
$blend-mode-1: unset;
$blend-mode-2: unset;
$blend-mode-3: unset;
$blend-mode-4: overlay;
$blend-mode-5: overlay;
$blend-color-1: transparent;
$blend-color-2: transparent;
$blend-color-3: transparent;
$blend-color-4: #000;
$blend-color-5: #644ed1;
